<div class='panel panel-info'>
    <div class='panel-heading'>
        Gerenciar Pratos
    </div>

    <div style="padding:17px"  class="col-md-1"><button class="btn btn-default" (click)="addPrato()">Adicionar</button></div>

    <div class='panel-body'>
        <div class='table-responsive'>

            <div class="alert alert-info" style="padding:50px;" role="alert" *ngIf="indLoading"><img src="../../imagens/loading.gif" width="32" height="32" /> Carregando...</div>
            <div *ngIf='prato && pratos.length==0' class="alert alert-info" role="alert">Sem Registros no Banco de Dados</div>
            <table class='table table-hover' *ngIf='pratos && pratos.length'>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome Prato</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prato of pratos">
                        <td>{{prato.Id}}</td>
                        <td>{{prato.PratoName}}</td>
                        <td>
                            <button title="Editar" class="btn btn-default" (click)="editPrato(prato.Id)">Editar</button>
                            <button title="Excluir" class="btn btn-default" (click)="deletePrato(prato.Id)">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(pratoFrm)" [formGroup]="pratoFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">               
                <div>
                    <span>Prato</span>
                    <input type="text" class="form-control" placeholder="Nome Prato" formControlName="PratoName">
                </div>
                <div>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancelar</a>
                <button type="submit" class="btn btn-default">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>

<div class="container body-content">
    <hr />
    <footer>
        <p>Powered by Matheus-made-it</p>
    </footer>
</div>